Header{
    background-image: url("./Img/FundHeader.jpg");
    height: 100px;
    background-size: 100%;

    
}

Header img{
    border-radius: 50%;
    height: 80%;
    margin-top: 10px;
    margin-left: 10px;
    display: inlinek;
}

nav{
    text-align: center;
    display: inline;
}

nav ul{
    list-style-type: none;
    display: inline-block; 
    margin-left: 40%;
}

nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
.HeadText{

}